<link rel="stylesheet" href="/stylesheets/style.css">

<a href="/">Home</a>

<h1>{{title}}</h1>
<br>
<p>{{message}}</p>
<br>

 <!-- <ul>
        {{#each data}}
        <li>
            <h3>{{movie_name}}</h3>
            <img src="{{movie_thumbnail}}" alt="{{movie_name}}">
            <p>{{movie_desc}}</p>
        </li>
        {{/each}}
    </ul> -->

<div id="horror">
	<h1>Horror Movies</h1>
	<img src="../images/annabelle.jpg">
	<a href="">Movie</a>
	<img src="../images/babadook.jpg">
	<a href="">Movie</a>
	<img src="../images/cloverfield.jpg">
	<a href="">Movie</a>
	<img src="../images/witch.jpg">
	<a href="">Movie</a>
	<img src="../images/itcomesatnight.jpg">
	<a href="">Movie</a>
</div>

<div id="thriller">
 	<h1>Thriller Movies</h1>
 	<img src="../images/itfollows.jpg">
 	<a href="">Movie</a>
 	<img src="../images/cureforwellness.jpg">
 	<a href="">Movie</a>
 	<img src="../images/greenroom.jpg">
 	<a href="">Movie</a>
 	<img src="../images/gone-girl.jpg">
 	<a href="">Movie</a>
 	<img src="../images/the-visit.jpg">
 	<a href="">Movie</a>
</div>

<div id="scifi">
	<h1>Sci-Fi/Fantasy Movies</h1>
 	<img src="../images/the-Girl-with-All-the-Gifts.jpg">
 	<a href="">Movie</a>
 	<img src="../images/the-cloverfield-paradox.jpg">
 	<a href="">Movie</a>
 	<img src="../images/terminator.jpg">
 	<a href="">Movie</a>
 	<img src="../images/chappie.jpg">
 	<a href="">Movie</a>
 	<img src="../images/hardcore_henry.jpg">
 	<a href="">Movie</a>
</div>